/* params */
$color_orange: #FDBE34
$color_blue: #0B409C
$color_white: #FAFAFA
$color_blue_dark: #10316B

/* mixin modules */
@mixin a($c:$color_white)
  text-decoration: none
  color: $c
@mixin bg($c: $color_white)
  background-color: $c
@mixin w($w)
  width: $w
@mixin h($h)
  height: $h
@mixin ab
  position: absolute
@mixin mid($t: 50%)
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  top: $t
@mixin midx($t: 50%)
  left: 50%
  transform: translateX(-50%)
  top: $t
@mixin center
  text-align: center
@mixin c($c)
  color: $c
@mixin title
  color: $color_blue_dark
  +center
  padding-top: 7%
  padding-bottom: 3%
@mixin section
  margin-top: 0
  width: 100%
  height: 640px
/* nav bar */
.logo
  +h(84px)
  +a($color_blue_dark)
.login
  +bg($color_orange)
  color: $color_blue_dark
  border-radius: 28px
.nav-login
  +w(56px)
  +center
  +a($color_blue_dark)

/* header */
.header-img
  +w(100%)
  +h(640px)
  position: relative
.tag-line
  +mid(60%)
  +ab
  +center
  z-index: 15
  color: $color_white
.veil
  +ab
  +bg(rgba(16,49,107,0.55))
  +w(100%)
  +h(640px)
  z-index: 5

/* search */
.search
  +ab
  +mid(80%)
  +w(30%)
  z-index: 10
  border-radius: 0px
.btn-search
  +bg($color_orange)
  +c($color_white)

/* corp */
.title
  +title
.section
  +section
.corp-logo
  +w(250px)
  +mid
  +ab
.card
  +h(150px)
.corp-card
  border: 0px



/* hot */
#hot
  +bg($color_white)
.hot
  margin-left: 4%
.hot-card
  +center
  +h(350px)
  +w(280px)
.card-title
  +center
  +c($color_blue_dark)
.card-text
  +mid(12%)
  +ab
.card1
  +bg($color_orange)
  +c($color_blue_dark)
  +h(100px)
.card2
  +bg($color_blue_dark)
  +c($color_white)
  +h(100px)
.card3
  +bg($color_blue)
  +c($color_white)
  +h(100px)
.hot-text
  +mid(65%)
  +ab
.hot-corp-logo
  +w(200px)
  +mid(45%)
  +ab
/* hot btn */
.hot-btn
  +w(200px)
  +h(45px)
  +mid(85%)
  +ab
.hot-btn a
  +a($color_white)
  +center
  +mid
  +ab
  +c($color_white)
.hot-btn1
  +bg($color_orange)
.hot-btn2
  +bg($color_blue_dark)
.hot-btn3
  +bg($color_blue)

/* resume */
.resume-title, .resume-text
  +center
  +c($color_white)
  +ab
  +midx(300%)
  z-index: 15
.resume-text
  +midx(330%)
.resume-btn
  +w(200px)
  +h(45px)
  +midx(350%)
  +bg($color_orange)
  +ab
  z-index: 15
.resume-btn a
  +a($color_white)
  +center
  +mid
  +ab
  +c($color_white)

/* footer */
.footer
  +bg($color_blue_dark)
  +c($color_white)
  margin-top: 0
  +w(100%)
  +h(300px)
.footer-link-logo
  +w(30px)
.footer-totop
  +mid(390%)
  +ab
.footer-uplogo
  +h(30px)
.footer-nav, .footer-totop
  +a($color_white)
.footer-nav:hover, .footer-totop:hover
  +a($color_orange)
